[submodule "OAPT"]
	path = OAPT
	url = https://github.com/JustinMuecke/OAPT.git
[submodule "OWL_Ontology_Modification"]
	path = OWL_Ontology_Modification
	url = https://github.com/JustinMuecke/OWL_Ontology_Modification.git
[submodule "GLaMoR_Model_Training"]
	path = GLaMoR_Model_Training
	url = https://github.com/JustinMuecke/GLaMoR_Model_Training.git
