numpy~=2.2.6
tensorflow; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow-macos; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow~=2.21.0
tqdm~=4.67.3
matplotlib~=3.10.8