[submodule "OAPT"]
	path = OAPT
	url = https://github.com/JustinMuecke/OAPT.git
[submodule "OWL_Ontology_Modification"]
	path = OWL_Ontology_Modification
	url = https://github.com/JustinMuecke/OWL_Ontology_Modification.git
