[submodule "OWL2Vec-Star"]
	path = OWL2Vec-Star
	url = https://github.com/JustinMuecke/OWL2Vec-Star.git
[submodule "GraphLanguageModels"]
	path = GraphLanguageModels
	url = https://github.com/JustinMuecke/GraphLanguageModels.git
[submodule "GLaMoR-HermiT"]
	path = GLaMoR-HermiT
	url = https://github.com/JustinMuecke/GLaMoR-HermiT.git
[submodule "GLaMoR-ModernBert"]
	path = GLaMoR-ModernBert
	url = https://github.com/JustinMuecke/GLaMoR-ModernBert.git
